/* .Title{
    text-align: center;
    justify-content: center;
    border-width: 100%;
    font-family: "fantasy";
    padding-top: 20px;
} */

button{
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

#nav{
    background-image: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(114, 61, 61));
}

.custom-btn {
    background-image: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(114, 61, 61));
    color: white;
    border-color: black;
}

.typewriter {
    color:#0000;
    background:
        linear-gradient(-90deg, black 5px,#0000 0) 10px 0,
        linear-gradient(black 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    -webkit-animation: 
        b .7s infinite steps(1),   
        t calc(var(--n)*.05s) steps(var(--n)) forwards;
}

.transparent-btn {
    background-color: transparent;
    border-color: transparent;
}
  
@keyframes t{
    from {background-size:0 200%}
}

@keyframes b{
    50% {background-position:0 -100%,0 0}
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background::before {
    content: "";
    background-image: url('./dndBackgroundimage.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.50;
    z-index: -.5;
    min-height: 100vh;
}

.displayBtn {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.inline {
    display: inline;
}

#storyName {
    width: 80%;
    margin-top: 5px;
}

@media screen and (max-width: 1023px) {
    #mainColumn {
        width: 100%;
        min-height: 100vh;
    }

    #mainColumn box {
        min-height: 100vh;
    }
}